<title>News List</title>
<link rel="stylesheet" type="text/css" href="style_news_list.css">
<script src="script_news_list.js" defer></script>
{{#each news}}
<div class='box'>
	<div class="left_part">
		<img src={{this.image}} width="200px" height="200px">
		<div class='info'>
			<h1>{{this.header}}</h1>
			<p>{{this.main}}</p>
			<p>{{this.day}}.{{this.month}}.{{this.year}}</p>
		</div>
	</div>
	<div class="right_part">
		<a id="{{this.id}}" method='POST' class="update"><div class="bt-upd">Update</div></a>
		<a href="/news_list/Delete-{{this.id}}" method='POST'><div class="bt-del">Delete</div></a>
	</div>
</div>
{{/each}}
<div class="back">
</div>